
<div class="container">

    <select class="form-select" aria-label="">
        <option>Selecione</option>
    </select>

    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <audio controls>
        <source src="" type="audio/mp3" />
    </audio>

</div>